<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= label_tag(:name, "nom :") %>
  <%= f.text_field(:name) %>
  <%= label_tag(:description, "description") %>
  <%= f.text_field :description, :input_html => { class: 'test', :cols => 5, :rows => 10 } %>

  <%= label_tag(:longitude, "longe :") %>
  <%= f.text_field(:longitude) %>
  <%= label_tag(:latitude, "late :") %>
  <%= f.text_field(:latitude) %>
  <%= label_tag(:address, "addresse :") %>
  <%= f.text_field(:address) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
