
<p id="notice"><%= notice %></p>

<h1>Listing Vendors</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.description %></td>
        <td><%= vendor.user.email if vendor.user %></td>
        <td><%= link_to 'Show', vendor %></td>
        <% if @admin %>
          <td %> <%= link_to 'validate', validate_vendor_vendor_path(vendor), method: :put, :remote => true %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Vendor %>
  <%= link_to 'New Vendor', new_vendor_path %>
<% end %>
